.cards {
  width: 100%;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 413px));
  column-gap: 20px;
  row-gap: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #21212166;
  justify-content: center;
}

@media screen and (max-width: 320px) {
  .cards {
    column-gap: 0;
    row-gap: 20px;
    padding-bottom: 20px;
    max-width: 288px;
  }
}
