.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card__image {
  width: 413px;
  height: 413px;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card__image_name_moritz {
  background-image: url("../images/1-photo-by-moritz-feldmann-from-pexels.jpg");
}

.card__image_name_ceiline {
  background-image: url("../images/2-photo-by-ceiline-from-pexels.jpg");
}

.card__image_name_tubanar {
  background-image: url("../images/3-photo-by-tubanur-dogan-from-pexels.jpg");
}

.card__image_name_maurice {
  background-image: url("../images/4-photo-by-maurice-laschet-from-pexels.jpg");
}

.card__image_name_van {
  background-image: url("../images/5-photo-by-van-anh-nguyen-from-pexels.jpg");
}

.card__image_name_moritz2 {
  background-image: url("../images/6-photo-by-moritz-feldmann-from-pexels.jpg");
}

.card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.card__author {
  margin: 0;
}

.card__like-button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.card__like-button-heart {
  width: 23px;
  height: 20px;
}
