.profile {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 20px;
  margin: 32px 0 20px 0;
  border-bottom: 1px solid #21212166;
}

.profile__avatar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: 8px;
}

.profile__picture {
  object-fit: cover;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name,
.profile__description {
  margin: 0;
  padding: 0;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__name {
  margin-bottom: 12px;
  font-size: 32px;
  line-height: 32px;
  color: #212121;
}

.profile__description {
  font-size: 16px;
  line-height: 16px;
  color: #212121b2;
}

.profile__button-edit {
  margin-top: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #212121;
  opacity: 70%;
  font-weight: 500;
}

.profile__button-edit:hover {
  opacity: 100%;
  cursor: pointer;
}

.profile__button-new {
  background-color: #212121;
  padding: 18px 32px;
  border: none;
  border-radius: 8px;
  color: #fcf5e5;
  line-height: 16px;
  font-size: 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-left: auto;
}

.profile__button-new:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    margin-top: 20px;
    max-width: 288px;
    flex-direction: column;
    align-items: center;
  }

  .profile__avatar {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .profile__button-edit {
    align-self: center;
  }

  .profile__picture {
    width: 80px;
    height: 80px;
  }

  .profile__column {
    justify-content: center;
  }

  .profile__name {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 6px;
  }

  .profile__description {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 32px;
  }

  .profile__button-new {
    width: 100%;
    padding: 18px auto;
    margin: 0;
    justify-content: center;
    margin-top: 20px;
  }
}
