.cards {
  width: 100%;
  max-width: 1280px;

  padding-bottom: 40px;
  border-bottom: 1px solid #21212166;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 413px));
  column-gap: 20px;
  row-gap: 40px;
  justify-content: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 627px) {
  .cards {
    column-gap: 0;
    padding-bottom: 20px;
    max-width: 288px;
  }

  .cards__list {
    row-gap: 20px;
  }
}
