.content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background-color: #fcf5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 627px) {
  .content {
    max-width: 288px;
    padding: 0 16px;
  }
}
